<div class="container">
  <div class="profile-card-container">
    <div class="profile-card-header">
      <img class="profile-card-header__image" src="https://images.pexels.com/photos/2726111/pexels-photo-2726111.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
      <div class="profile-info">
        <div class="profile-action">
          <h1 class="profile-action__username">azharazhar1010</h1>
          <button class="profile-action__button">Logout</button>
        </div>
        <div class="profile-stat">
          <span>7 posts</span>
          <span>100 followers</span>
          <span>877 following</span>
        </div>
        <span>Muhammad Azhari</span>
      </div>
    </div>
    <div class="profile-card-posts">
      <img class="profile-card-posts__post" src="https://images.pexels.com/photos/2726111/pexels-photo-2726111.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
      <img class="profile-card-posts__post" src="https://images.pexels.com/photos/2726111/pexels-photo-2726111.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
      <img class="profile-card-posts__post" src="https://images.pexels.com/photos/2726111/pexels-photo-2726111.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
      <img class="profile-card-posts__post" src="https://images.pexels.com/photos/2726111/pexels-photo-2726111.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
      <img class="profile-card-posts__post" src="https://images.pexels.com/photos/2726111/pexels-photo-2726111.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
      <img class="profile-card-posts__post" src="https://images.pexels.com/photos/2726111/pexels-photo-2726111.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
      <img class="profile-card-posts__post" src="https://images.pexels.com/photos/2726111/pexels-photo-2726111.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    </div>
  </div>
</div>
