<div class="container">
  <div class="card-form-container">
    <div class="card-form">
      <h1>Solidbox</h1>
      <form class="form">
        <div class="form-control mb-3">
          <label for="username">Username</label>
          <input class="form-control__input" id="username" type="text" />
        </div>
        <div class="form-control">
          <label for="password">Password</label>
          <input class="form-control__input" id="password" type="password" />
        </div>
        <button class="form__submit">Login</button>
      </form>
      <div class="forgot-pw">
        <span class="forgot-pw__or">or</span>
        <a href="">Forgot password?</a>
      </div>
    </div>
    <div class="card-form-footer">Don't have an account? <a href="">Create account</a></div>
  </div>
</div>
