$search-box-color: #ededed;
$search-input-color: #a19f9f;

a {
  text-decoration: none;
  color: initial;
}

.main-container {
  margin-top: 1rem;
}

.header {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  border-bottom: 1px solid $search-box-color;

  &__brand {
    font-size: 24px;
  }
}

.search {
  display: flex;
  align-items: center;

  padding: .3rem .5rem;
  border-radius: 4px;
  background-color: $search-box-color;

  &__icon {
    color: $search-input-color;
  }

  &__control {
    padding: .2rem .5rem;

    border: none;
    outline: none;
    background-color: inherit;
    color: $search-input-color;
    font-size: 1rem;
  }

  &__control::placeholder {
    color: $search-input-color;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: .7rem;
}
