<div class="container">
  <div class="grid-container">
    <div class="left-container">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
    <div>
      <div class="widget">
        <img
          class="widget__image"
          src="https://images.pexels.com/photos/2726111/pexels-photo-2726111.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt=""
        />
        <div class="widget__info">
          <span class="bold">azharazhar1010</span>
          <span>Muhammad Azhari</span>
        </div>
      </div>
      <div>
        <h3>Maybe you know</h3>
        <div class="feature-gap">
          <app-card-head></app-card-head>
          <app-card-head></app-card-head>
          <app-card-head></app-card-head>
          <app-card-head></app-card-head>
        </div>
      </div>
    </div>
  </div>
</div>
